<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="static/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css" />
	<link rel="stylesheet" href="static/assets/vendor/fontawesome-free/css/all.css" />

    <link rel="stylesheet" href="static/css/tiny-slider.css" />
    <link rel="stylesheet" href="static/css/aos.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>
      RealEstate
    </title>

  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

 <link rel="icon" type="image/x-icon" href="static/assets/img/undraw_rocket.svg">
   
</head>


<body>
  {% block header %}
      
  {% endblock header%}
  
        {% block content %}
        <h1>hello comon</h1>
        {% endblock content %}
        
        {% block footer %}
        {% endblock footer %}
      </div>
      
      <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/tiny-slider.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/navbar.js"></script>
    <script src="static/js/counter.js"></script>
    <script src="static/js/custom.js"></script>

    </body>
  </html>
