{% extends 'base.html'%}

{% block content %}
<section class="bg-primary">
	{% include 'navbar.html' %}
  <div class="container py-5">
  


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
				<img class="rounded-circle img-fluid" style="width: 150px;height:150px;" width="150px" src="{{ profile_pic }}">
				<span class="font-weight-bold"><h4>{{ current_user.username }}</h4></span>
				<span class="text-black-50">{{ current_user.email }}</span>
				<hr>
				<h2 class="mb-0">Socials </h2>
				 <div class="person-contents">
 
               
                <ul class="social list-unstyled list-inline dark-hover">
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                </ul>
              </div>

          
			</div>
			
        </div>
        
        
        <div class="col-md-5 border-right">
        
			<form method="POST" action="{{ url_for('user') }}" enctype="multipart/form-data">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                
                <div class="row mt-2">
                    <div class="col-md-6">
						<label class="labels">Name</label>
						<input name="first_name" type="text" class="form-control" placeholder="first name" value="">
					</div>
                    <div class="col-md-6">
						<label class="labels">Surname</label>
						<input name="surname" type="text" class="form-control" value="" placeholder="surname">
						
					</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 mb-4">
						<label class="labels">Mobile Number</label>
						<input name="phone" type="text" class="form-control" placeholder="enter phone number" value="">
					</div>
                    <div class="col-md-12 mb-4">
						<label class="labels">Address Line 1</label>
						<input name="address1" type="text" class="form-control" placeholder="enter address line 1" value="">
					</div>
                    <div class="col-md-12 mb-4">
						<label class="labels">Address Line 2(not a must)</label>
						<input name="address2" type="text" class="form-control" placeholder="enter address line 2" value="">
					</div>
                    <div class="col-md-12 mb-4">
						<label class="labels">Postcode</label>
						<input name="postcode" type="text" class="form-control" placeholder="enter Postcode" value="">
					</div>
                    <div class="col-md-12 mb-4">
						<label class="labels">County</label>
						<input name="county" type="text" class="form-control" placeholder="enter county" value="">
					</div>
                    <div class="col-md-12 mb-4">
						<label class="labels">Area</label>
						<input name="area" type="text" class="form-control" placeholder="enter area" value="">
					</div>
					<div class="row">
                  <div class="col-sm-3">
                    <label class="mb-0">Picture</label>
                   <div class="col-sm-9">
                      <div class="form-group">
                        <input name="profile_pic" type="file">
                      </div>
                 </div>
                </div>
                
                <div class="mt-5 text-center">
					<input type="submit" class="btn btn-primary profile-button" value="Save Profile">

				</div>
            </div>
            </form>
            
        </div>
        
    </div>
</div>
</div>
</div>

</section>
{% endblock content %}
   {% block footer%}
           {% include 'footer.html'%}
  {% endblock footer%}  
